.rsvp-form {
    text-align: center;
    position: relative;
    top: -32px;
}

.rsvp-form h4 {
    font-family: 'Philosopher';
    font-size: 38px;
    margin: 0;
    margin-bottom: 8px;
    color: #333;
}

.rsvp-form p {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #666;
    line-height: 1.7em;
    font-weight: 500;
    width: 250px;
    margin: 4px auto;
}

.rsvp-form .name {
    margin: 18px auto;
}