.countdown-timer {
    background-position: bottom center;
    background-image: linear-gradient(180deg,#9b949b 18%,rgba(0,0,0,0) 73%),url('../../imgs/countdown.jpeg');
    border-radius: 0 0 25px 25px;
    overflow: hidden;
    box-shadow: 0px 18px 18px -10px rgb(0 0 0 / 28%);
    top: -72px;
    bottom: auto;
    padding-bottom: 350px!important;
    position: relative;
    width: 80%;
    margin: 0 auto;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.countdown-timer h4 {
    color: #FFF;
    font-size: 15px;
    font-family: 'DM Serif Display';
    display: block;
    font-weight: 500;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 14px;
}

.timer-container {
    display: flex;
    justify-content: center;
}

.timer-container .divider {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 24px;
}

.timer-container .timer {
    margin: 0px 8px;
}

.timer p {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 22px;
    margin: 0;
}
.timer .desc {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 10px;
    margin-left: 3px;
    margin-top: 4px;
}

.atc-item {
    color: #ffffff;
    border-width: 0px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #eee;
    color: black;
    box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 22%);
    width: 135px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Cabin';
    border: 1px solid #858585;
    position: relative;
    top: 40px;
}

.atc-dropdown {
    background-color: #FFF;
    width: 150px;
    padding: 0;
    position: absolute;
    top: 185px;
    right: 50%;
    transform: translateX(50%);
    margin: 0;
    overflow: hidden;
}

.atc-dropdown li {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    list-style-type: none;
    width: 132px;
    margin: 0;
    padding: 12px;
    font-family: 'Cabin';
}

.atc-dropdown li a {
    text-decoration: none;
    color: #000;
    padding-right: 95px;
}

@media (min-width: 1000px) {
    .countdown-timer { 
        width: 50%;
    }
    .countdown-timer h4 {
        font-size: 24px;
        padding-top: 24px;
    }
    .timer p {
        font-size: 32px;
    }
    .timer .desc {
        font-size: 12px;
        margin-left: 8px;
        margin-top: 4px;
    }
    .atc-dropdown {
        top: 247px;
    }
}
