.guess-book {
    background-color: #9B949B;
    color: #FFF;
}

.book-header {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 32px;
}

.book-header h4 {
    margin: 0;
    font-family: 'Sacramento';
    font-size: 38px;
    font-weight: 500;
}

.book-header p {
    margin: 0;
    font-size: 16px;
    font-style: italic;
    margin-top: 8px;
    font-family: 'Philosopher';
}

.book-header .divider {
    margin: 0;
    border-top: 1px solid #FFF;
    margin-top: 24px;
}

.thank-you-note {
    text-align: center;
    padding-bottom: 32px;
    padding-top: 42px;
}

.thank-you-note h1 {
    font-family: 'Monoline';
    margin-top: 48px;
    font-size: 24px;
    margin: 0;
    margin-top: 8px;
}

.thank-you-note h4 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}

.book-footer {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI0OXB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTEyODAgMy40QzEwNTAuNTkgMTggMTAxOS40IDg0Ljg5IDczNC40MiA4NC44OWMtMzIwIDAtMzIwLTg0LjMtNjQwLTg0LjNDNTkuNC41OSAyOC4yIDEuNiAwIDMuNFYxNDBoMTI4MHoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNMCAyNC4zMWM0My40Ni01LjY5IDk0LjU2LTkuMjUgMTU4LjQyLTkuMjUgMzIwIDAgMzIwIDg5LjI0IDY0MCA4OS4yNCAyNTYuMTMgMCAzMDcuMjgtNTcuMTYgNDgxLjU4LTgwVjE0MEgweiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0xMjgwIDUxLjc2Yy0yMDEgMTIuNDktMjQyLjQzIDUzLjQtNTEzLjU4IDUzLjQtMzIwIDAtMzIwLTU3LTY0MC01Ny00OC44NS4wMS05MC4yMSAxLjM1LTEyNi40MiAzLjZWMTQwaDEyODB6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 100% 49px;
    height: 48px;
}

.book-item {
    width: 80%;
    margin: 8px auto;
    border-bottom: 1px solid #FFF;
    padding-bottom: 14px;
    padding-top: 12px;
}

.book-item h3 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 12px;
    font-family: 'Open Sans';
    font-weight: 700;
}

.book-item p {
    font-size: 13px;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 2em;
    text-align: left;
}

.chat-button {
    background-color: #9B949B;
    color: #FFF;
    border-radius: 4px;
    border: 2px solid #FFF;
    font-size: 14px;
    padding: 6px 12px;
    margin-top: 18px;
}

.guessbook-inputer {
    margin-top: 20px;
    text-align: right;
}

.guessbook-inputer textarea {
    width: 100%;
    height: 85px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 13px;
    font-family: 'Philosopher';
}

.guessbook-inputer button {
    color: #afa4af;
    border-width: 0;
    font-size: 17px;
    font-family: 'Philosopher';
    font-weight: 700;
    background-color: #FFF;
    padding: 10px 18px;
    border-radius: 3px;
    margin: 6px 0;
    border: 1px solid #9b949b;
}
