.main-footer {
    text-align: center;
    margin-top: 32px;
    padding-bottom: 32px;
}

.main-footer p {
    margin: 0;
    color: #666;
    font-family: 'Cabin';
}

.main-footer .logo-com {
    width: 100px;
    height: 40px;
    margin: 0 auto;
}
.main-footer img {
    width: 105px;
    height: 50px;
    object-fit: cover;
}
