.info-pemberkatan {
    background-color: #9b949b;
    margin-top: 32px;
    padding-bottom: 24px;
}

.info-pemberkatan .wave-top {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIzNHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTcyNS4yOSAxMDEuMkMzMjUuMjIgMTIyLjQ4IDAgMCAwIDB2MTQwaDEyODBWMHMtMTU0LjY0IDc5LjkyLTU1NC43MSAxMDEuMnoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNNTU2LjQ1IDExOS43NEM5NTMuNDEgMTQwIDEyODAgMTQgMTI4MCAxNHYxMjZIMFYwczE1OS41IDk5LjQ4IDU1Ni40NSAxMTkuNzR6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTY0MCAxNDBjMzUzLjQ2IDAgNjQwLTE0MCA2NDAtMTM5djE0MEgwVjBzMjg2LjU0IDE0MCA2NDAgMTQweiIvPjwvZz48L3N2Zz4=);
    background-size: 100% 34px;
    top: 0;
    height: 34px;
    z-index: 1;
    transform: rotateX(180deg);
}

.info-pemberkatan .container {
    background-color: #FFF;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px -12px 18px -6px rgb(0 0 0 / 17%);
    width: 80%;
    margin: 0 auto;
    margin-top: 42px;
}

.top-container {
    text-align: center;
    padding: 24px;
}

.top-container h2 {
    margin: 0;
    font-family: 'DM Serif Display';
    color: #9b949b;
    font-size: 28px;
    font-weight: 500;
    line-height: 2em; 
}

.top-container .divider {
    height: 3px;
    width: 70%;
    margin: 0 auto;
    margin-top: 28px;
    background-color: #9b949b;
}

.info-content p {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #666;
}

.info-content h3 {
    font-family: 'Philosopher';
    color: #9b949b;
    font-weight: 500;
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 0;
}

.info-content .address {
    margin-top: 10px;
}

.btn-location {
    color: #ffffff;
    border-width: 0px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #84787c;
    box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 22%);
    width: 120px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.bottom-image {
    background-image: linear-gradient(180deg,#ffffff 8%,rgba(0,0,0,0) 75%),url('../../imgs/backenv.jpeg');
    overflow: hidden;
    top: -25px;
    bottom: auto;
    height: 230px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
